/**
 ********************************
 * _STICKY.SCSS
 ********************************
 */

/**
 * @module Sticky [.sticky]
 * @description Sticks the element to the top of the page.
 */
.sticky {
  display: block;
  position: fixed;
  top: 0;
  z-index: 20;
  @include gpu;
}
